<!DOCTYPE html>
<html>
<head>
	<title>Aidan Collins Photography</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<header id="home-header">
		
	</header>
	<section id = "showcase1">
		<div class = "container">
			<nav>
				<ul>
					<li><a href="index.html">Home</a></li>
					<li><a href="portfolio.html">Portfolio</a></li>
					<li><a href="contact.html">Contact</a></li>					
				</ul>
			</nav>
			<div id = "home-header">
				<h1><a href="index.html">Aidan Collins Photography</a></h1>
			</div>
			
		</div>
	</section>

	<section id = "summary">
		<div class = "container">
			<h2>Landscape and Nature Photographer from Vancouver Island, BC.</h2>
			<p></p>
		</div>
	</section>

	<section id = "featured-series">
		<div class = "feature">
			<h1>Featured Series: Africa</h1>
			<div class = "grid">
				<img src="../Photos/P1210343.jpg">
				<img src="../Photos/P1210213.jpg">
				<img src="../Photos/P1210942.jpg">
				<img src="../Photos/P1210500.jpg">
			</div>
		</div>
	</section>

	<section id = newsletter>
		<div class = "container">
			<h1>Subscribe to my Newsletter for Updates!</h1>
			<form>
				<input type="email" placeholder="Enter Email">
				<button type = "submit" class = "button_1">Subscribe</button>
			</form>
		</div>
	</section>

	<footer>
		<p>
			Aidan Collins Photography, Copyright &copy; 2020
		</p>
	</footer>
</body>
</html>