<!DOCTYPE html>
<html>
<head>
	<title>Aidan Collins Photography</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<header>
		<div class = "container">
			<div id = "branding">
				<h1><a href="index.html">Aidan Collins Photography</a></h1>
			</div>
			<nav>
				<ul>
					<li><a href="contact.html">Contact</a></li>
					<li><a href="portfolio.html">Portfolio</a></li>
					<li><a href="index.html">Home</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<div class = "page-container">
		<div class = "grid">
			<div id = "portfolio">
				<img src="../Photos/p1190156.jpg">
				<img src="../Photos/P1210083.jpg">
				<img src="../Photos/739FBACA-9063-4DDE-BB3F-6B0A2B2DE86B.jpg">
				<img src="../Photos/P1210234.jpg">

				<img src="../Photos/P1210363.jpg">
				<img src="../Photos/p1190153.jpg">
				<img src="../Photos/P1210500.jpg">
				<img src="../Photos/6A4EADF3-918A-461A-ADA5-3DE66F840C86.jpg">

				<img src="../Photos/IMG_0801.jpg">
				<img src="../Photos/p1140510.jpg">
				<img src="../Photos/p1140524.jpg">
				<img src="../Photos/P1210130.jpg">

				<img src="../Photos/IMG_2120.jpg">
				<img src="../Photos/P1210067.jpg">
				<img src="../Photos/IMG_3222.jpg">
				<img src="../Photos/p1200145.jpg">

				<img src="../Photos/P1180673.jpg">
				<img src="../Photos/P1210441.jpg">
				<img src="../Photos/P1210942.jpg">
				<img src="../Photos/p1190303.jpg">

				<img src="../Photos/A6D72A1D-4444-4D4C-A1CA-290D170BB447.jpg">
				<img src="../Photos/P1210631.jpg">
				<img src="../Photos/p1180421.jpg">
				<img src="../Photos/p1140074.jpg">
			</div>
		</div>
	</div>
</body>
</html>